<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body>
<!-- NAvbar  here-->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" style="font-weight:bold" href="">FakeCSV</a>
                <a class="nav-link" href="{% url 'schemas' %}">Schemas</a>
            </div>
        </div>

        <span class="navbar-text" align="right">
            <!--                 if us_active.is_active -->
            {% if request.user.is_authenticated %}
                Hi, {{ user.username }} | <a href="{% url 'logout_url' %}">LogOut</a>
            {% else %}
                <a href="{% url 'login_url' %}">Login</a>
            {% endif %}
        </span>

    </div>
</nav>
<div class="row">
    {% block content %}
    {% endblock  %}

</div>
</body>
</html>